/* @import './converge.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 10px;
  }

.hl-keyword {
    color: #F78C6C;
}


.hl-property {
    color: #82AAFF;
}
/* .hl-property {
    color: #3c76f3;
} */
.hl-attribute {
    font-style: italic;
}
/* dark theme */
.hl-type {
    color: #FFCB6B;
}
/* light-theme */

/* .hl-type {
    @apply text-amber-600
} */

.hl-generic {
    color: #9d3af6;
}

.hl-value {
    color: #C3E88D;
}
/* .hl-value {
    @apply text-teal-700
} */

.hl-literal {
    color: #ff9cac;
}

.hl-number {
    color: #F78C6C;
}

.hl-variable {
    color: #B2CCD6;
}

/* .hl-variable {
    @apply text-slate-800
} */

.hl-comment {
    color: #676E95;
}

.hl-blur {
    filter: blur(2px);
}

.hl-strong {
    font-weight: bold;
}

.hl-em {
    font-style: italic;
}

.hl-addition {
    min-width: 100%;
    @apply bg-green-600/50 inline-block;
}

.hl-deletion {
    min-width: 100%;
    filter: blur(0.8px);
    @apply bg-red-600/50 inline-block;
}
.hl-deletion:hover {
    filter: blur(0);
    @apply transition ease-in-out duration-300
}

.hl-gutter {
    display: inline-block;
    font-size: 0.9em;
    color: #555;
    padding: 0 1ch;
    user-select: none;
}

.hl-gutter-addition {
    @apply bg-green-600/50 text-slate-100;
}

.hl-gutter-deletion {
    @apply bg-red-600/50 text-slate-100;
}

.table-of-contents a {
  text-underline-offset: 0.2em;
  text-decoration: none !important;
  @apply dark:text-gray-400 block py-1 leading-[1.6] font-medium dark:hover:text-purple-500 hover:text-purple-600 transition-colors text-gray-700;
}
.table-of-contents a:hover {
  text-decoration: none !important;
}   
ul.table-of-contents li::marker {
  content: none;
}
ul.table-of-contents ul > li  {
  @apply ps-3 my-1    
}

.blade ul {
    @apply list-none pl-0 ml-0;
}

.blade ul li {
    @apply list-none;
}